# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
GPATH
GRTAGS
GSYMS
GTAGS
*~
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
tags
.DS_Store
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
*.log
*.adfs
*.json
*.cxx
.qmake.stash
*.dmg
Thumbs.db
TAGS
